
.testing-waterlevel {
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: center;
    margin-bottom: 50px;

    .tw-status {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .tw-ok {
        background-color: green;
    }

    .tw-nok {
        background-color: red;
        color: white;
    }
}

.testing-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-bottom: 50px;

    .testing-line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        /*border: 1px solid lightgray;*/
        border-radius: 3px;
        margin: 5px;
        box-shadow: 3px 3px 2px lightgray;
        padding: 5px;

        .tl-header {
            width: 33%;
            font-weight: bold;
            font-size: 1.2em;
        }

        .tl-item {
            width: 33%;
        }
    }
}
