<div class="sprinkler-container">
    <div class="spr-item spr-name">@Description</div>
    <div class="spr-item spr-pin">@Sprinkler.GpioPin</div>
    <div class="spr-item spr-command"><MatSlideToggle Value="Enabled" TValue="bool" ValueChanged="@(async (e) => await ToggleChangedAsync(e))"></MatSlideToggle></div>
</div>